@import url('https://fonts.googleapis.com/css2?family=Anton:200&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar-brand {
    font-size: 50px;
}


#carousel-section {
    height: 40em;
    background-image: linear-gradient(rgb(0 0 0 / 67%), rgb(0 0 0 / 68%)), url(../images/vr-cover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#cover-pre-footer-section {
    height: 40em;
    background-image: linear-gradient(rgb(0 0 0 / 67%), rgb(0 0 0 / 68%)), url(../images/vr-cover-girl.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-color, .footer {
    background-color: black !important;
    color: white;
}
